body {
background-color: #eeeeff;
overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
}

.container-fluid {
  padding: 0;
}

.navbar {
  background: #282828;
  height: 50px;
  color: #efefef;
}


.header-title, .header-hud, .header-quick-buttons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.header-quick-buttons {
  position: absolute;
  left: 50%;
  top:  50%;
  transform: translate(-50%, -50%);
}

.header-quick-buttons-icon {
  margin: 0 10px;
  transform: scale(2);
}

.header-hud {
  right: 5%;
}

.main-content {
padding: 1% 1%;
border: solid 2px black;
margin: 1% 5%;
border-radius: 5px;
background: white;
}

.settings-button {
  position: absolute;
  top:5px;
  right: 10px;
  transform: scale(2);
}

.device {
  text-align: center;
  margin: 5px 1%;
  margin: 3px 0;
  height: 40px;
  min-width: 25%;
  cursor: pointer;
  box-shadow: 2px 2px 1px grey;
  border-radius: 25px;
  -moz-user-select: none;
  overflow: hidden;
  white-space: nowrap;
}

.device-name {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  width: 10%;
  //background: green;
}

.device-active {
  box-shadow: 1px 1px 0 grey;
  top: 1px;
}

.device-brightness {
  border-radius: 100%;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
}

.deviceStateOnOff {
  max-height: 20px;
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
  -moz-user-select: none;
}

.device p {
  position: absolute;
  top: 50%;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  padding-right: 10%;
}

.TPLinkDevice {
  text-align: center;
  margin: 5px 1%;
  margin: 3px 0;
  height: 40px;
  min-width: 25%;
  cursor: pointer;
  box-shadow: 2px 2px 1px grey;
  border-radius: 25px;
  -moz-user-select: none;
  overflow: hidden;
  white-space: nowrap;
}
.TPLinkDevice p {
  position: absolute;
  top: 50%;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  padding-right: 10%;
}

.slider-container {
  min-height: 10px;
  padding: 0;
}


.swatch-info {
  height: 30px;
  margin: 0;
  padding: 2px 15px;
  position: relative;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -30px);
  background: #bbb;
  border-radius: 10px 10px 0 0;
  text-align: center;
}

.swatch-colour-info {width: 150px;}
.swatch-brightness-info {width: 80px;}

.colour-swatch {
  min-height: 25px;
  height: 40%;
  overflow: hidden;
  white-space: nowrap;
}

.brightness-swatch {
  height: 25%;
  background: grey;
}

.hue-submit {
  background: green;
  margin: 5% 0;
  padding: 1px 0;
  height: 50px;
  overflow: hidden;
  -moz-user-select: none;
  border: solid 1px black;
  border-radius: 25px;
  text-align: center;
}

.slider {
  margin: 10px 0;
}

#redSlider::-webkit-slider-runnable-track {
  background: pink;
}


/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: -2px;
    background-color: beige; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    border-right: solid 2px skyblue;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition-delay: 0.2s;
    overflow: hidden;
    white-space: nowrap;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #1f1f1f;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.fa {

}

.fa-active:hover {
  color: grey;
}

.grey {
  background: grey;
  transition: 0.5s all;
}

.pixelBox {
  cursor: pointer;
  min-height: 50px;
  border-radius: 10%;
  //border: solid 3px grey;
  margin: 2px;
  padding: 0;
  width: 100%;
}

.pixelBox > div {
  width: 100%;
  height: 50px;
  cursor: pointer;
  border-radius: 5%;
}

.pixelBox-active {
  border: solid 2px black;
  margin: 0;
  padding: 0;
}

.randomise {
  background: linear-gradient(to right, rgb(255,180,180), rgb(180,255,180), rgb(180,180,255));
  cursor: pointer;

}

.save-colour-block {
  margin: 0;
  padding: 1px 0;
  width: 100%;
  overflow: hidden;
  -moz-user-select: none;
  border: solid 1px black;
  border-radius: 5px;
  height: 50px;
  margin: 0 1%;
}

.save-colour-block > div {
  margin: 0;
  padding: 0;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  display: table;
  padding: 1px 0;
  border-radius: 5px;

}

.save-colour-icon {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  height: 100%;
  width: 100%;
  transform: translateY(-8%);
  font-size: 30px;
  font-weight: 900;
}

.randomise p {
  position: absolute;
  text-align: center;
  width: 100%;
  font-weight: bold;
  letter-spacing: 0.1em;
  top:50%;
  transform: translateY(-50%);
}

.save-colour-active {
  cursor: pointer;
}

.remove-icon, .remove-icon-corner {
  position: absolute;
  font-size: 1.5em;
  color: red;
  top: -10px;
  right: 0;
  padding: 0;
  margin: 0;
  display: none;
}

.remove-icon-corner {
  background: grey;
  width: 20px;
  height: 20px;
  transform: rotate(36deg);
  top:-50%;
  right:-50%;
}


.pixelSelectionButton {
  border: solid 1px black;
  margin: 2px;
  text-align: center;
  background: rgb(180,180,240);
  -moz-user-select: none;
}

.pixelSelectionButton:checked + label {
  background: rgb(180,240,180);
}
