
input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}


body {
background: beige;
overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

.header-bar {
  background: white;
  padding: 0 10px;
  border-bottom: solid 1px black;
  height: 50px;
}

.header-title, .header-menu, .header-hud, .header-quick-buttons {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.header-menu > h4 {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.header-quick-buttons > div {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
}

.header-quick-buttons{
  width: 100%;
  height: 100%;
}

.header-quick-buttons-icon {
  display: inline-block;
  padding-right: 25px;
  transform: scale(2);
}

.header-hud {

}

.header-hud > p {
  position: absolute;
  right: 0;
  margin-right: 20%;
}

.main-content {
padding: 1% 1%;
border: solid 1px black;
margin: 1% 5%
}

.settings-button {
  position: absolute;
  top:5px;
  right: 10px;
  transform: scale(2);
}
.device {
  text-align: center;
  margin: 5px 20px;
  height: 40px;

}

.device img {
  max-height: 20px; position: absolute; left: 10px; top: 50%; transform: translateY(-50%); -moz-user-select: none;
}

.device p {
  position: absolute;
  top: 50%;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  padding-right: 10%;
}


.slider-container {
  min-height: 10px;
  padding: 0 1%;
}


.colour-swatch {
  background: green;
  height: 80%;
}

.brightness-swatch {
  height: 20%;
  background: grey;
}

.slider {
  margin: 10px 0;
}
#redSlider::-webkit-slider-runnable-track {
  background: pink;
}

 *:hover {
 //border: solid 1px grey;
}


/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: -2px;
    background-color: beige; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    border-right: solid 2px skyblue;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition-delay: 0.3s;
    transition-delay: 0.2s;
    overflow: hidden;
    white-space: nowrap;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #1f1f1f;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.fa {

}

.fa-active:hover {
  color: grey;
}

.frequent-colour-container > div {
  min-height: 50px;
  margin: 25px;
  border: solid 1px black;
}

.randomise {
  background: linear-gradient(to right, rgb(255,180,180), rgb(180,255,180), rgb(180,180,255));
}

.save-colour-block {
  margin: 0;
  padding: 0;
  overflow: hidden;
  -moz-user-select: none;
}

.save-colour-block > div {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  display: table;
}

.save-colour-icon {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  height: 100%;
  width: 100%;
  transform: translateY(-8%);
  font-size: 30px;
  font-weight: 900;
}

.randomise p {
  position: absolute;
  text-align: center;
  width: 100%;
  font-weight: bold;
  letter-spacing: 0.1em;
  top:50%;
  transform: translateY(-50%);
}

.save-colour-active {
  cursor: pointer;
}

.remove-icon, .remove-icon-corner {
  position: absolute;
  font-size: 1.5em;
  color: red;
  top: -10px;
  right: 0;
  padding: 0;
  margin: 0;
  display: none;
}

.remove-icon-corner {
  background: grey;
  width: 20px;
  height: 20px;
  transform: rotate(36deg);
  top:-50%;
  right:-50%;
}
