<!DOCTYPE html>
<html>
<head>
  <title>main</title>
</head>
<body>


<div class="row main-content"  id="resizable">
  <div class="col">
    <div class="row"><h3 >Phillips Hue Lights</h3><span style="position: absolute; left: 350px; top: 20px; transform: translateY(-50%);" data-toggle="collapse" href="#hueCollapse" class="fa fa-active fa-chevron-right"></span><span class="fa fa-cog fa-active settings-button" data-toggle="modal" data-target="#hue-settings"></span></div>

      <div class="row device-box">
        <div  class="col-md col-xs-12 " data="{{$index}}" ng-click="updateSliderUI(deviceName, $index)" ng-dblclick="dblclickOnOff($index)" ng-repeat="deviceName in devices" >
          <div class="device" style="background:{{deviceName.state.rgb}}; color: rgb({{255-deviceName.state.rgb.split('(')[1].split(')')[0].split(',')[0]}},{{255-deviceName.state.rgb.split('(')[1].split(')')[0].split(',')[1]}},{{255-deviceName.state.rgb.split('(')[1].split(')')[0].split(',')[2]}})">
            <img src="./static/images/lightbulbOFF.ico" class="deviceStateOnOff" ng-show="!=deviceName.state.on">
            <img src="./static/images/lightbulbON.ico" class="deviceStateOnOff" ng-show="deviceName.state.on">

            <p class="device-name">{{deviceName.name}}</p>

          <div class="device-brightness" style="background: rgb({{deviceName.state.brightness/100*255}},{{deviceName.state.brightness/100*255}},{{deviceName.state.brightness/100*255}});"></div>
        </div>
        </div>
      </div>

    <div class="row panel-collapse collapse show" id="hueCollapse">
      <div class="col">
        <div class="row">
      <div class="col" >
        <div class="row slider-container" style="margin: 1%;">
          <input type="range" min="0" max="255" ng-model="red" ng-change="colourUpdate()" ng-disabled="colourSliderDisabled" class="slider redSlider hueColourSlider" id="redSlider">
          <input type="range" min="0" max="255" ng-model="green" ng-change="colourUpdate()" ng-disabled="colourSliderDisabled" class="slider greenSlider hueColourSlider" id="greenSlider">
          <input type="range" min="0" max="255" ng-model="blue" ng-change="colourUpdate()" ng-disabled="colourSliderDisabled" class="slider blueSlider hueColourSlider" id="blueSlider">
          <input type="range" min="0" max="100" ng-model="brightness" ng-change="brightnessUpdate()" ng-disabled="brightnessSliderDisabled" class="slider brightnessSlider hueBrightnessSlider" id="brightnessSlider">
        </div>
        <div class="row hue-advanced" ng-show="hueAdvanced">
          <div class="col">
            <div class="row">
              <h4>Advanced</h4>
            </div>
            <div class="row">
              <p>Colourloop: <input type="radio"/></p>
              <p>Blink: <input type="radio"/></p>
              <p>limit between: <input type="radio"/></p>
            </div>
          </div>
        </div>
        <div class="row" ng-show="hueMostUsed">
          <div class="col">
            <div class="row frequent-colour-container">
              <div class="col save-colour-block save-colour-active"><div><p class="save-colour-icon" ng-click="colourSave()">+</p></div></div>
              <div class="col save-colour-block save-colour-inactive"></div>
              <div class="col save-colour-block save-colour-inactive"></div>
              <div class="col save-colour-block save-colour-inactive"></div>
              <div class="col save-colour-block save-colour-inactive"></div>
              <div class="col save-colour-block save-colour-inactive"></div>
              <div class="col save-colour-block randomise" ng-click="randomiseColours()"><p>Randomise<br>Colours</p></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-2" ng-show="showSwatch" style="margin: 10px 0;" >
        <div class="colour-swatch row" style="border-radius: 10px 10px 0 0; background: rgb({{red}},{{green}},{{blue}});"><p class="swatch-info swatch-colour-info" ng-show="colourInfo">rgb({{red}},{{green}},{{blue}})</p></div>
        <div class="brightness-swatch row" style="border-radius: 0 0 10px 10px; background: rgb({{brightness/100*255}},{{brightness/100*255}},{{brightness/100*255}}); "><p ng-show="colourInfo" class="swatch-info swatch-brightness-info">{{brightness}}/100</p></div>
        <div class="hue-submit row" ng-click="sendHueData()"><h3 style="line-height: 100%; text-align: center; Position: relative; top:50%; transform: translateY(-40%); font-weight: bold; width: 100%;">Update</h3></div>
      </div>
    </div>
  </div>
</div>

  </div>
  </div>


<div class="modal fade" id="hue-settings">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Phillips Hue Settings</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <p>Show Swatch: <input type="checkbox" ng-model="showSwatch"></p>
        <p>Most Used: <input type="checkbox" ng-model="hueMostUsed"></p>
        <p>Color Values: <input type="checkbox" ng-model="colourInfo"></p>
        <p>Advanced Options: <input type="checkbox" ng-model="hueAdvanced"></p>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>


<div class="row main-content">
  <div class="col">
    <div class="row" data-toggle="collapse" href="#pixelCollapse"><h3>RGB Strips</h3><span class="fa fa-cog fa-active settings-button" data-toggle="modal" data-target="#hue-settings" ></span></div>
    <div class="row" style="padding: 10px 0;">
      <div class="col pixelBox pixelBox-active" data="{{$index}}" ng-repeat="x in ledArray" ng-click="updatePixelSliderUI($index)"><div style="background: rgb({{x.state.red}},{{x.state.green}},{{x.state.blue}});"></div></div>
    </div>
    <div class="row panel-collapse collapse" id="pixelCollapse">
      <div class="col-sm-3">
        <div class="row">
          <input id="fullSliderSelect" class="pixelSelectionButton" style="position: fixed; visibility: hidden;" type="radio" name="pixelSelection" ng-model="pixelSelection" value="string"/>
          <label for="fullSliderSelect" class="col pixelSelectionButton " ng-click="updatePixelSliderUI('string')" >String</label>

          <input id="rangeSelect" class="pixelSelectionButton" style="position: fixed; visibility: hidden;" type="radio" name="pixelSelection" ng-model="pixelSelection" value="range"/>
          <label for="rangeSelect"  class="col pixelSelectionButton"  ng-click="updatePixelSliderUI('range')">Range</label>

          <input id="singleSelect" class="pixelSelectionButton" style="position: fixed; visibility: hidden;" type="radio" name="pixelSelection" ng-model="pixelSelection" value="single"/>
          <label for="singleSelect"  class="col pixelSelectionButton " ng-click="updatePixelSliderUI('input')">Single Pixel</label>
        </div>
        <div ng-switch="pixelSelection">
          <div ng-switch-when="single">
            <div class="row">
              <div class="col" style="padding: 2px;"><input style="width: 100%;" id="singlePixelInput" ng-model="pixelSingleSelection" type="text" /></div><div class="col-sm-3" style="margin: 0; padding: 0;"><input type="button" style="text-align:center; width: 100%; height:100%;" ng-click="updatePixelSliderUI('input')" value="Ok" /></div>
            </div>
          </div>
          <div ng-switch-when="range">
            <div class="row">
              <div class="col" style="padding: 2px;"><input style="width: 100%;" id="rangePixelInput" ng-model="pixelRangeSelection" type="text" /></div><div class="col-sm-3" style="margin: 0; padding: 0;"><input type="button" style="text-align:center; width: 100%; height:100%;" ng-click="updatePixelSliderUI('range')" value="Ok" /></div>
            </div>
          </div>
          <div ng-switch-when="string">
            <div class="row">
            <div class="col" style="padding: 2px;"><input style="width: 100%;" id="stringPixelInput" ng-model="pixelStringSelection" type="text" disabled="true"/></div><div class="col-sm-3" style="margin: 0; padding: 0;"><input type="button" style="text-align:center; width: 100%; height:100%;" value="Ok" disabled="true" /></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col" style="border: solid 1px black; margin: 2px;">Rgb&nbsp;<input type="radio" name="rgbInputSelection" ng-model="rgbInputSelection" value="rgb"></div>
          <div class="col" style="border: solid 1px black; margin: 2px;">Hex&nbsp;<input type="radio" name="rgbInputSelection" ng-model="rgbInputSelection" value="hex"></div>
          <div class="col" style="border: solid 1px black; margin: 2px;">Function&nbsp;<input type="radio" name="rgbInputSelection" ng-model="rgbInputSelection" value="function"></div>
        </div>
        <div ng-switch="rgbInputSelection">
          <div ng-switch-when="rgb">
            <div class="row">
              <label>Red:&nbsp;<input type="text" ng-model="pixelRed" value=""/></label><br>
              <label>Green:&nbsp;<input type="text" ng-model="pixelGreen" value=""/></label><br>
              <label>Blue:&nbsp;<input type="text" ng-model="pixelBlue" value=""/></label><br>
            </div>
          </div>
          <div ng-switch-when="hex">
            <div class="row">
              <label>Hex: &nbsp;</label><input type="text" value="#"/>
            </div>
          </div>
          <div ng-switch-when="function">
            <div class="row">
              <label >function: &nbsp;</label><textarea value="#"/>
            </div>
        </div>
        <div class="row">
          <div class="col">
              <select id="neoPixelEffect">
                <option value="Blink (off)" >Blink (off)</option>
                <option value="Blink (random,all,full)" >Blink (random,all)</option>
                <option value="Blink (random,all,small)" >Blink (random,all)</option>
                <option value="Blink (random,each,full)" >Blink (random,each)</option>
                <option value="Blink (random,each,small)" >Blink (random,each)</option>

              </select>
              <button type="submit" ng-click="neoPixelEffect()"> Let's do it </button>
              <button value="clear" ng-click="clearNeoPixelEffect()">clear</button>
          </div>
        </div>
      </div>
    </div>
      <div class="col">
        <input type="range" min="0" max="255" ng-model="pixelRed" ng-change="updateLedArray()" class="slider redSlider">
        <input type="range" min="0" max="255" ng-model="pixelGreen" ng-change="updateLedArray()" class="slider greenSlider">
        <input type="range" min="0" max="255" ng-model="pixelBlue" ng-change="updateLedArray()" class="slider blueSlider">
      </div>
      <div class="col-sm-3">
        <div class="row" style="height: 80%">
          <div style="width: 100%; height: 100%; background: rgb({{pixelRed}},{{pixelGreen}},{{pixelBlue}});"></div>
        </div>
        <div class="row" style="text-align:center;">
          <button style="text-align:center; width: 100%;" value="submit" ng-click="emitPixelArray()">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row main-content">
  <div class="col">
    <div class="row"><h3>TP-Link Smart Plugs </h3></div>
    <div class="row"><div class="col" ng-repeat="device in TPLinkDevices">
      <div class="TPLinkDevice" ng-click="TPLinkDeviceOnOff($index)" style="background: {{device.background}}">
        <p>{{device.name}}</p>
        <div></div>
      </div>
    </div>
  </div>
  </div>
</div>
<div class="row main-content">
  <h3>Blind Motor (soon) </h3>
  <div></div>
</div>
<div class="row main-content">
  <h3>Desktop Control (soon) </h3>
</div>
</body>
</html>
<script>

</script>
